html,
body {
  background-color: rgb(228, 228, 228);
  color: black;
  font-family: "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 100px 10px;
  font-weight: normal;
}

main {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.title {
  font-size: 45px;
  margin-bottom: -2px;
  color: #6c63ff;
  font-weight: 500;
}

/* timer */

.timer {
  margin-top: 90px;
  margin-right: 130px;
}

ul#countdown {
  color: black;
  border: 1px solid black;
  border-width: 1px 0;
}

li {
  margin: 23px;
  padding: 0;
  display: inline-block;
  font-size: 72px;
}

.label {
  color: black;
  font-size: 18px;
  font-size: 1.5vw;
  text-transform: uppercase;
}

/* botao */

.botao {
  background-color: #5852C2;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: 1px solid black;
  border-width: 1px 1px;
  transition: .3s;
}

.botao:hover{
    cursor: pointer;
    transform: scale(1.07);
}
